<%# views/cloth_detail.ejs %>

<% extend('layout') %>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<% function capitalizeFirstLetter(string) { %>
<%    return string.charAt(0).toUpperCase() + string.slice(1); %>
<% } %>

<h1><%= test %></h1>

<div class="flex justify-center gap-4">
    <div class="basis-[30%]">
        <img src="<%= cloth.imageURL %>" />
    </div>
    <div class="bg-neutral-800 basis-[40%] rounded px-6 py-4">
        <div class="rating">
            <input type="radio" name="rating-1" class="mask mask-star" />
            <input type="radio" name="rating-1" class="mask mask-star" />
            <input type="radio" name="rating-1" class="mask mask-star" />
            <input type="radio" name="rating-1" class="mask mask-star" checked />
            <input type="radio" name="rating-1" class="mask mask-star" />
        </div>
        <h1 class="text-4xl mb-6"><%= cloth.name %></h1>
        <div class="flex gap-4 mb-6">
            <h2 class="text-2xl">$ <%= cloth.price %> TWD</h2>
            <h2 class="text-2xl">VAT included</h2>
        </div>
        <p class="mb-6 text-2xl"><%= cloth.description %></p>
        <select class="select select-bordered w-full max-w-xs rounded-xl text-xl mb-36">
            <option disabled selected class="text-xl">Size</option>
            <% (Object.entries(sizeCounts)).map(([key, value]) => { %>
                <option><%= capitalizeFirstLetter(key) %> - <%= value %> left</option>
            <% }) %>
        </select>
        <div>
            <button type="button" class="btn bg-teal-800 w-full rounded text-white text-xl mb-6">
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>
                ADD TO CART
            </button>
            <button type="button" class="btn btn-outline w-full rounded text-xl">
                <span class="material-symbols-outlined">
                    favorite
                </span>
                ADD TO WISH LIST
            </button>
        </div>
    </div>
</div>